#root {
 
  margin: 0 auto;
 
  text-align: center;
}

.logo {
  height: 6em;

  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.read-the-docs {
  color: #888;
}

#k1{
  display: grid;
  grid-template-columns: auto auto auto auto;


  gap: 20px;
  background-color: chartreuse;
  border: 2px solid black;
  
  
}
#k2{

  width: 200px;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px ;
  text-align: center;
 
  
}
button{
  background-color: blue;
  color: white;
  margin: 20px;
}
body{
  background-color: burlywood;
}

